body,
html {
    font-family: 'Source Sans Pro', sans-serif!important;
    font-size: 14px;
}
.modal-backdrop.in {
    -webkit-opacity: .0;
    -moz-opacity: .95;
    opacity: .0;
    background-color: #3a3f51
}
.ekko-lightbox .modal-content {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
    background-color: transparent
}
.ekko-lightbox .modal-header {
    border: 0;
    padding-left: 0;
    padding-right: 0;
    background: #3a3f51;
    height: 30px
}
.ekko-lightbox .modal-header .close {
    -webkit-opacity: .5;
    -moz-opacity: .5;
    opacity: .5;
    color: #fff;
    text-shadow: 0;
    font-weight: 100;
    margin-top: 5px;
    position: relative;
    bottom: 10px;
    left: -10px
}
.ekko-lightbox .modal-header .close:hover {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1
}
.ekko-lightbox .modal-header h4.modal-title {
    font-weight: 100;
    color: #fff;
    padding: 0;
    background: #3a3f51
}
.ekko-lightbox .modal-body {
    padding: 0
}
.ekko-lightbox .modal-footer {
    -webkit-opacity: .9;
    -moz-opacity: .9;
    opacity: .9;
    border: 0;
    color: #fff;
    font-weight: 100;
    padding: 0
}
.ekko-lightbox-nav-overlay a {
    -webkit-opacity: .9;
    -moz-opacity: .9;
    opacity: .9;
    text-shadow: none
}
.linkblk {
    text-decoration: none!important;
    color: #656565!important;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004)
}
.btn-danger,
.btn-default,
.btn {
    border-radius: 0
}
.form-control,
input,
.modal-content,
.panel,
.checkbox,
.c-checkbox span,
.c-radio span,
table,
.table {
   /* border-radius: 0!important*/
}
.alert {
    border-radius: 0;
    border: none
}
.alert a {
    text-decoration: none
}
.modal-open,
.ekko-lightbox {
    padding: 0!important;
    padding-right: 0!important
}
.emoticon {
    width: 18px;
    height: 18px
}
#giftSelection {
    border-radius: 10px;
    border: 1px solid #e5e5e5;
    padding: 8px;
    overflow: auto
}
.giftImage {
    height: 96px;
    width: 96px;
    padding: 5px;
    margin: 0;
    border-radius: 5px
}
.giftImageSpecial {
    height: 96px;
    width: 96px;
    padding: 5px;
    margin: 0;
    border-radius: 5px
}
.giftImage:hover {
    background-color: #e5e5e5;
    border-radius: 5px
}
.list-group-item {
    border: 0
}
.form-control {
    -webkit-appearance: none;
	margin-bottom:5px;
}
.btn-social.btn-lg>:first-child {
    line-height: 42px
}
.upgrades-t {
    font-size: 23px;
    font-weight: 300;
    line-height: 50px;
    padding-top: 5px
}
.upgrades-h {
    background: #3a3f51;
    color: #fff;
    height: 60px;
    margin-bottom: 20px
}
.m000 {
    margin: 0;
    padding: 0;
    margin-bottom: 25px
}
.upgrades-b {
    margin: 30px
}
.upgrades-e {
    margin-bottom: 15px
}
.alert-dark {
    background: #3a3f51;
    color: #fff
}
.panel-default,
.panel {
    border: none!important
}
.pb {
    padding-bottom: 5px
}
.modal-open,
.ekko-lightbox {
    padding: 0!important;
    padding-right: 0!important
}
.emoticon {
    width: 18px;
    height: 18px
}
#giftSelection {
    border-radius: 10px;
    border: 1px solid #e5e5e5;
    padding: 8px;
    overflow: auto
}
.giftImage {
    height: 96px;
    width: 96px;
    padding: 5px;
    margin: 0;
    border-radius: 5px
}
.giftImageSpecial {
    height: 96px;
    width: 96px;
    padding: 5px;
    margin: 0;
    border-radius: 5px
}
.giftImage:hover {
    background-color: #e5e5e5;
    border-radius: 5px
}
.btn-danger {
    border: none;
}
html,
body {
    -webkit-font-smoothing: antialiased !important;
}
.modal-backdrop.in {
    opacity: .0 !important;
}