body{
    /*background: url(../img/bg_content.png) left bottom no-repeat;*/
    background-size: cover;
    background-attachment: fixed;
font-family: 'Segoe UI';
}

/***** Fonts *****/

@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI-BoldItalic.eot');
	src: url('../fonts/SegoeUI-BoldItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/SegoeUI-BoldItalic.woff') format('woff'),  url('../fonts/SegoeUI-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUIBlack-Italic.eot');
	src: url('../fonts/SegoeUIBlack-Italic.eot?#iefix') format('embedded-opentype'),  url('../fonts/SegoeUIBlack-Italic.woff') format('woff'),  url('../fonts/SegoeUIBlack-Italic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}
@font-face {
	font-family: 'Segoe UI Emoji';
	src: url('../fonts/SegoeUIEmoji.eot');
	src: url('../fonts/SegoeUIEmoji.eot?#iefix') format('embedded-opentype'),  url('../fonts/SegoeUIEmoji.woff') format('woff'),  url('../fonts/SegoeUIEmoji.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI-Light.eot');
	src: url('../fonts/SegoeUI-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/SegoeUI-Light.woff') format('woff'),  url('../fonts/SegoeUI-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI-Italic.eot');
	src: url('../fonts/SegoeUI-Italic.eot?#iefix') format('embedded-opentype'),  url('../fonts/SegoeUI-Italic.woff') format('woff'),  url('../fonts/SegoeUI-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI-SemiboldItalic.eot');
	src: url('../fonts/SegoeUI-SemiboldItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/SegoeUI-SemiboldItalic.woff') format('woff'),  url('../fonts/SegoeUI-SemiboldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI-LightItalic.eot');
	src: url('../fonts/SegoeUI-LightItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/SegoeUI-LightItalic.woff') format('woff'),  url('../fonts/SegoeUI-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUIBlack.eot');
	src: url('../fonts/SegoeUIBlack.eot?#iefix') format('embedded-opentype'),  url('../fonts/SegoeUIBlack.woff') format('woff'),  url('../fonts/SegoeUIBlack.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Segoe UI Semilight';
	src: url('../fonts/SegoeUI-Semilight.eot');
	src: url('../fonts/SegoeUI-Semilight.eot?#iefix') format('embedded-opentype'),  url('../fonts/SegoeUI-Semilight.woff') format('woff'),  url('../fonts/SegoeUI-Semilight.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Segoe UI Semilight';
	src: url('../fonts/SegoeUI-SemilightItalic.eot');
	src: url('../fonts/SegoeUI-SemilightItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/SegoeUI-SemilightItalic.woff') format('woff'),  url('../fonts/SegoeUI-SemilightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI.eot');
	src: url('../fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),  url('../fonts/SegoeUI.woff') format('woff'),  url('../fonts/SegoeUI.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI-Semibold.eot');
	src: url('../fonts/SegoeUI-Semibold.eot?#iefix') format('embedded-opentype'),  url('../fonts/SegoeUI-Semibold.woff') format('woff'),  url('../fonts/SegoeUI-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI-Bold.eot');
	src: url('../fonts/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/SegoeUI-Bold.woff') format('woff'),  url('../fonts/SegoeUI-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
/**** Custom Style For File ****/
.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    background: url(../../images/backend/icon_attach.png) no-repeat left center;
    color: #1cb1b1 !important;
    font-family: 'Segoe UI';
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    line-height: 24px;
    padding-left: 30px;
}
.no-js .inputfile + label {
    display: none;
}
.feedBtn{}
.feedBtn .box,.feedBtn a{
    float: left;
}
.feedBtn a{    color: #1bb0b0;
    margin-left: 18px; cursor:pointer; text-decoration:none;}
	.feedBtn a:hover{text-decoration:none;}
.dashboardWidget .panel.widget.panelelements.widget{
    position: relative;
    margin-bottom: 24px;
    background-color: #ffffff;
    color: #21c0c0;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.11);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.11);
	border: 1px solid #d9d9d9 !important;
}
.text-uppercase.welcom {
    text-transform: uppercase;
    text-align: center;
    color: #1cb1b1;
    font-weight: normal;
    font-size: 40px;
	margin-bottom:80px;
}
.percentage.text-muted {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.dashboardWidget .panel.widget.panelelements.widget h2{
    font-size: 12px;
    font-weight: normal;
    margin: 0;
}
.percentage.text-muted h6{
    margin: 0;
}
.wrapper>footer{
background: transparent;
color: #2ebdbe;
}
.table-grid{
    border-radius:10px;
    background: #fff;
    border: 1px solid #ccc;
	/*border-bottom:none;*/
	overflow: hidden;
}
.table-grid-desktop .topLink a{
    color: #2ebdbe !important;
    padding: 10px 15px;
    text-decoration: none;
    cursor: pointer;
}
.container .panel{box-shadow:0 0 0;}
.dashboardContent{

}
.dashboardContent a {
    text-decoration: none;
    text-align: center;
	color:#86b9b9;
}
.dashboardContent a em{
    font-size: 80px;
}
.dashboardContent a span {
    font-size: 25px;
}
.dashboardContent a span,.dashboardContent a em,.dashboardContent a {
	display:block;
}
/*******/
.nav-wrapper .nav.navbar-nav.navbar-right.useHeader {margin: 15px 0 0;}
.useHeader li{}
.useHeader li > a,.useHeader li > a:hover,.useHeader li > a:focus{padding: 0;color: #1cb1b1;}
.useHeader li.open > ul.dropdown-menu{}
.useHeader li > ul > li{ padding:10px 15px}
.useHeader li > ul > li > a{}
.useHeader .img-thumbnail{
      width: 40px;
	      border: none;
		  background-color: #1cb1b1;
}
.navbar-headerLeft{
    position: absolute;
    left: 20px;
    top: 7px;
    z-index: 117;
}
.navbar-headerLeft .navbar-brand {
    float: left;
    padding: 0;
    font-size: 18px;
    line-height: normal;
    height: 38px;
    width: 82px;
}
.companyName{
    font-size: 24px;
    font-weight: normal;
    color: #fff;
    text-transform: uppercase;
    margin: 15px 0 20px 0;
	text-align: center;
}
	.companyName span{
    color: #1b9696;
    width: 40px;
    display: inline-block;
    margin-right: 10px;
}
.customMenuIcon{
    background-color: rgb(27, 176, 176);
    padding: 10px;
    border-radius: 50%;
    margin-left: 16px;
    color: #fff;
    width: 35px;
    height: 35px;
}
.globalSearch{
    background: #f5f7fa;
    border-radius: 25px;
    width: 170px;
    height: 30px;
    margin-right: 20px;
	position:relative;
}
.globalSearch input[type="search"]{
    border: none;
    background: transparent;
    height: 30px;
    width: 100%;
    padding:0 30px 0 15px;
}


	.globalSearch a{
    position: absolute;
    top: 4px;
    right: 8px;
    color: #2ebdbe;
}
.navbar-headerRight {
    top: 0;
    right: 0;
    position: absolute;
    z-index: 117;
}
.topnavbar .navbar-nav>.open>a, .topnavbar .navbar-nav>.open>a:focus, .topnavbar .navbar-nav>.open>a:hover {
    box-shadow: 0 0 0;
}
.topnavbar .navbar-nav>.open>a:focus, .topnavbar .navbar-nav>.open>a:hover, .topnavbar .navbar-nav>li>a:focus, .topnavbar .navbar-nav>li>a:hover {
    color: #fff;
}
.useHeader li .user-block .user-block-info{
	padding: 0;
	margin: 5px 0 0;
}
.useHeader li > ul > li h4{
    font-weight: normal;
    text-transform: uppercase;
    color: #1cb1b1;
    margin: 0;
    padding: 7px 0 0;
}
.useHeader li > a > em.icon-bell{display:block;color:#fff;}
.useHeader li > a > .label-danger{    right: -6px;top:0;}
.wrapper,.wrapper>section {
    background: transparent;
}
.useHeader li.has-user-block{
        margin: 0 5px 0 15px;
}
.sidebar>.nav>li.has-user-block{
	display:none !important;
}
.wrapper>.aside {
    position: inherit;
    width: 100%;
}
.panel.panel-default {
    background: #fff;
    border-radius: 10px;
    background: #fff;
    overflow: hidden;
}
.table-grid .panel.panel-default{ border-radius: 0px;}
.sidebar .nav>li>.nav-item:focus, .sidebar .nav>li>.nav-item:hover, .sidebar .nav>li>a:focus, .sidebar .nav>li>a:hover {
    color: #fff;
}
.wrapper>.aside:before{
  background:url(../../images/backend/shadow.png) repeat-x left top;
height:70px;
width:100%;
content:"";
position:absolute;
top:0;
left:0;
}
.wrapper>.aside .aside-inner {
    width: 100%;
	padding:0;
}
.sidebar {
    margin: 0;
    overflow: inherit;
    padding: 0;
    text-align: center;
    display: table;
    width: 100%;
}
.sidebar > .nav {
    text-transform: uppercase;
    font-weight: bold;
    display: table-row;
}
.sidebar>.nav>li{
	display:inline-block;
	    margin-left: -2px
}
.sidebar .nav>li.active {
    border-left-color: transparent;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	border:1px solid #ccc;
}
.table>tbody>tr>td:first-child,.table>thead>tr>th:first-child{
	border-left:none;
}
.table>tbody>tr>td:last-child,.table>thead>tr>th:last-child{
	border-right:none;
}
.table>tbody>tr:last-child >td{
	border-bottom:none;
}
.panel .table {
     border-radius: 10px 10px 0px 0px;
    border: 0 solid transparent;
    background: #fff;
    
}
.mgnTopBtn{margin:10px 0}
.mgnTopBtn button,.subGroupBtn{
    margin-right: 0 !important;
    float: left;
    border: 1px solid #ccc;
    box-shadow: 0 0 0;
    background: transparent;
    border-radius: 3px !important;
    color: #1cb1b1;
    padding: 3px 10px;
	cursor:pointer;
}

.c-checkbox input[type=checkbox]:checked+span, .c-checkbox input[type=radio]:checked+span, .c-radio input[type=checkbox]:checked+span, .c-radio input[type=radio]:checked+span {
    border-color: #1cb1b1!important;
    background-color: #1cb1b1!important;
}
.subGroupBtn{
    text-decoration: none;
    padding: 3px 11px;
    margin-right: 10px !important;
}
.subGroupBtn:hover{
    text-decoration: none;
}
.mgnTopBtn button.dropdown-toggle{margin-right:10px !important;}
.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}
/*.panel-body {
    padding: 0;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid #ccc;
}*/
.panel-body {
    padding: 0;
    overflow: hidden;
    border-radius: 0px;
       border-top: 0 solid #ccc;
	background-color:#fff;
	
}
.modal {
   
    position: fixed !important;
  
}
.topnavbar-wrapper {
    background: #21c0c0;
    height: 70px;
}
.checkbox label, .radio label{
   padding-left:0;
}
.c-checkbox span, .c-radio span {
    width: 15px;
    height: 15px;
        margin-left: 0;
    margin-top: 3px;
}
.c-checkbox span:before, .c-radio span:before {
    line-height: 15px;
}
.wrapper>.aside {
    background: #1cb1b1;
}
.user-block .user-block-info .user-block-name {
   
    font-weight: bold;
}
.dropdown > a > .label {

    border-radius: 50%;
}
.dropdown > a > .label {

    right: 10px;
  
}
.user-block-status > .circle {
    right:10px;
	bottom:2px;
}
.dropdown-menu > li > a:hover
{
color:#21c0c0;
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.53px;
    background-color: #21c0c0  !important;
    color: #fff  !important;
}
.sidebar>.nav>li {
    border-left: 0px solid transparent;
    display: table-cell;
	
    vertical-align: middle;
    line-height: 21px;
}
.sidebar>.nav>li a{
font-family: 'Segoe UI';
font-weight:600;
font-size:14px;
    padding: 0;
	    color: #fff;
}
.sidebar>.nav>li a em{
    font-weight: normal;
    font-size: 10px;
    background: url(../../images/backend/icon_nav.png) no-repeat left top;
    width: 32px;
    height: 32px;
    display: inline-block;
    line-height: normal;
    position: relative;
    top: 3px;
}
.sidebar>.nav>li a em.icon-bubbles{
	background-position:-32px top;
}
.sidebar>.nav>li a em.icon-emoticon-smile{
	background-position:-64px top;
}
.sidebar>.nav>li a em.icon-magic-wand{
	background-position:-96px top;
}
.sidebar>.nav>li a em.fa-book{
	background-position:-128px top;
}
.sidebar>.nav>li a em.fa-credit-card{
	background-position:-160px top;
}
.sidebar>.nav>li a em.fa-clipboard{
	background-position:-192px top;
}
.sidebar>.nav>li a em.fa-addFeed{
	background-position:-224px top;
}
.sidebar>.nav>li a span{
    display: block;
    position: relative;
    bottom: 0px;
}
.sidebar>.nav>li a em:before{
	content:"";
}
.sidebar>.nav>li a:hover,.sidebar .nav>li.active>a{
    background-color: rgba(0, 0, 0, 0.19);
    color: #fff;
cursor:pointer;
}
.sidebar>.nav>li.active{
	background:transparent;
}
.dashboardWidget .widget.panel{
	height:110px;
}
.widget1{
  background:#0aa699;
}
.widget2{
  background:#0090d9;
}
.widget3{
  background:#735f87;
}
.widget4{
  background:#f35958;
}
.dashboardWidget .widget.panel .mt0{font-family: 'Segoe UI'; font-weight:600;font-size:34px;margin:0; }
.table>thead>tr>th{
    padding: 5px 8px;
    font-family: 'Segoe UI';
    font-size: 16px;
   /* text-transform: uppercase;*/
    font-weight: normal;
    color: #4a4444;
}
.table>tbody>tr>td{padding: 0px 8px; 
   /*  font-family: 'Segoe UI' !Important;
    font-size: 14px !Important;
   text-transform: uppercase;
    font-weight: normal;
    color: #000 !Important;*/
      color: #544e4e !important;
    font-size: small;
    font-family: inherit;
    font-family: arial,sans-serif !important;
}
.mb-mails .mb-mail-preview{
      color: #544e4e !important;
    font-size: small;
    font-family: inherit;
    font-family: arial,sans-serif !important;
}
.mb-mails .mb-mail-subject {
    font-size: 14px;
    font-weight: 600;
    line-height: 29px;
    margin-left: 8px;
}
.qbBtn {
    border: none;
    color: #fff;
    background-color: #21c0c0;
    font-size: 16px;
    font-weight: 600;
    padding: 5px 30px;
    border-radius: 23px;
    display: inline-block;
    margin-bottom: 0;
    cursor: pointer !important;
	    margin-top: 5px;
}
.dropdown-menu  li  a > hover
.form-control,.fs-label-wrap .fs-label{    border: 1px solid #c5c5c5;}
.qbBtn:hover{background-color: #1cb1b1;}
.subGroupContent{
    position: relative;
}
.subGroupContent ul{
    list-style: none;
    padding: 0;
}
.subGroupContent ul li{
    padding: 5px 20px;
}
.form-group .fs-wrap {
    width: 100%;
	    position: relative;
}
.fs-dropdown {
    width: 100%;
}
.createFeedContainer .panel-body {
    padding: 10px 50px 20px;
	}
.panel-default>.panel-heading,.panel-body{
	background:transparent;
}

.subGroupContent ul li img{}
.subGroupContent ul li span{
    padding-left: 15px;
}
.subGroupContent h6 {
    font-size: 16px;
    padding: 13px 0 12px 25px;
    margin: 0;
}
.createSubGroup{
    font-weight: normal;
    position: absolute;
    right: 10px;
    color: #21c0c0;
}
.createSubGroup em{}
.members{
    padding: 0;
    width: auto;
    text-align: center;
    margin: 0px 15px 10px;
}
.members img{}
.members .dataInput b {
    font-weight: normal;
}
table{}
table tr{}
table tr th{
    background: rgba(204, 204, 204, 0.31);
}
table tr td{}

.mb-mails .mb-mail-avatar {
    width: 20px;
    height: 20px;
    margin: 5px 0;
}
.mb-mails .mb-mail-meta {
    /*padding: 7px 0 0 5px;*/
}
button{
margin-right:2px !important;
}
.btn
{
background:none !important;
color:#000 !important;
  font-family: 'Segoe UI';
    font-size: 14px;
}
.btn:hover
{
background:none !important;
color:#000 !important;
border:none !important;
  font-family: 'Segoe UI';
    font-size: 14px;
}
table tr td a {

color:#000 !important;
font-weight:none;
}

/**
 * @author zhixin wen <wenzhixin2010@gmail.com>
 */

.ms-parent {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.ms-choice {
    display: block;
    width: 100%;
    height: 26px;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
    border: 0px solid #aaa;
    text-align: left;
    white-space: nowrap;
    line-height: 26px;
    color: #444;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
}

.ms-choice.disabled {
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}

.ms-choice > span {
    position: absolute;
    top: 0;
    left: 0;
    right: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    padding-left: 8px;
}

.ms-choice > span.placeholder {
    color: #999;
}

.ms-choice > div {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 25px;
    /*background: url('multiple-select.png') left top no-repeat;*/
}

.ms-choice > div.open {
    background: url('multiple-select.png') right top no-repeat;
}

.ms-drop {
    width: 100%;
    overflow: hidden;
    display: none;
    margin-top: -1px;
    padding: 0;
    position: absolute;
    z-index: 1000;
    background: #fff;
    color: #000;
    border: 1px solid #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.ms-drop.bottom {
    top: 100%;
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
}

.ms-drop.top {
    bottom: 100%;
    -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
    box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
}

.ms-search {
    display: inline-block;
    margin: 0;
    min-height: 26px;
    padding: 4px;
    position: relative;
    white-space: nowrap;
    width: 100%;
    z-index: 10000;
}

.ms-search input {
    width: 100%;
    height: auto !important;
    min-height: 24px;
    padding: 0 20px 0 5px;
    margin: 0;
    outline: 0;
    font-family: sans-serif;
    font-size: 1em;
    border: 1px solid #aaa;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: #fff url('multiple-select.png') no-repeat 100% -22px;
    background: url('multiple-select.png') no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
    background: url('multiple-select.png') no-repeat 100% -22px, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('multiple-select.png') no-repeat 100% -22px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('multiple-select.png') no-repeat 100% -22px, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
    background: url('multiple-select.png') no-repeat 100% -22px, -ms-linear-gradient(top, #ffffff 85%, #eeeeee 99%);
    background: url('multiple-select.png') no-repeat 100% -22px, linear-gradient(top, #ffffff 85%, #eeeeee 99%);
}

.ms-search, .ms-search input {
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.ms-drop ul {
    overflow: auto;
    margin: 0;
    padding: 5px 8px;
}

.ms-drop ul > li {
    list-style: none;
    display: list-item;
    background-image: none;
    position: static;
}

.ms-drop ul > li .disabled {
    opacity: .35;
    filter: Alpha(Opacity=35);
}

.ms-drop ul > li.multiple {
    display: block;
    float: left;
}

.ms-drop ul > li.group {
    clear: both;
}

.ms-drop ul > li.multiple label {
    width: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ms-drop ul > li label {
    font-weight: normal;
    display: block;
    white-space: nowrap;
}

.ms-drop ul > li label.optgroup {
    font-weight: bold;
}

.ms-drop input[type="checkbox"] {
    vertical-align: middle;
}

.ms-drop .ms-no-results {
    display: none;
}
.agent-dash
{
border:1px solid #d0d0d0 !important;


}
.agent-dash .panel-heading
{
font-size: 14px;
font-weight:600;
background-color:#f4f4f4;
bottom:2px !important;
border-bottom:1px solid #d0d0d0 !important;
}

.agent-dash .panel-heading-bottom
{
font-size: 16px;
font-weight:600;
top:2px !important;
border-top:1px solid #d0d0d0 !important;
padding:10px 10px 10px 10px;
background-color:#28b9ae;
text-transform:uppercase;
color:#fff;
}

.agent-dash .panel-heading-bottom_b
{
font-size: 14px;
font-weight:none;
top:2px !important;
border-top:0px solid #d0d0d0 !important;
padding:10px 10px 10px 10px;
background-color:#fff;
text-transform:none;
color:#28b9ae;
}

.agent-dash .panel-heading-top
{
font-size: 14px;
font-weight:600;
background-color:#f4f4f4;
bottom:2px !important;
padding:10px 10px 10px 10px;
border-bottom:1px solid #d0d0d0 !important;
color:#28b9ae;

}

.agent-dash .myform
{
padding:10px 10px 10px 10px;
text-align:center;

}
.content-wrapper{    padding:0 20px;}
.agent-dash .myform .btn
{
    color: #fff !important;
    background-color: #50cfd2 !important;
    border-color: #50cfd2 !important;
    display: inline-block !important;
    margin-bottom:20px !important;
    font-weight: 400 !important;
    text-align: center !important;
    vertical-align: middle !important;
    touch-action: manipulation !important;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent !important;
    white-space: nowrap !important;
    padding: 6px 16px !important;
    font-size: 14px !important;
    line-height: 1.52857143 !important;
    border-radius: 20px !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important; 
    user-select: none !important;
	    float: none !important;


}

.agent-dash .resolved {
margin-top:10px;
margin-left:25%;
border: 2px solid #fff;
-moz-border-radius: 100%;
border-radius: 100%;
display: block;
height: 76px;
width: 76px;
-moz-transition: all .27s ease-in-out;
transition: all .27s ease-in-out;
background-color: #8cd2cc;
color:#fff;
}
.agent-dash .unresolved {
margin-top:10px;
margin-left:25%;
border: 2px solid #fff;
-moz-border-radius: 100%;
border-radius: 100%;
display: inline-block;
height: 76px;
width: 76px;
-moz-transition: all .27s ease-in-out;
transition: all .27s ease-in-out;
background-color: #afbfbe;
color:#fff;
}

.agent-dash .resolved .dataInput,.unresolved .dataInput {
color: #fff;
text-align: center;
margin: 25% auto !important;
font-size: 20px;
}

.agent-dash .resolved_groups {
margin-top:10px;
-moz-border-radius: 100%;
border-radius: 100%;
-moz-transition: all .27s ease-in-out;
transition: all .27s ease-in-out;
color:#fff;
}
.agent-dash h4
{

text-align:center;
font-family:16px;
font-weight:normal;
color:#8cd2cc;
text-transform:uppercase;
font-family: 'Segoe UI';
}
.agentsListContainer{
    padding: 0;
    list-style: none;
    margin: 0;
}
.agent-dash .panel-body{    border-radius: 0}
.agent-dash .form-control {
    border: 1px solid #c5c5c5;
}
.agentsListContainer li{position:relative;}
.agentsListContainer li a{
    display: block;
    padding: 10px 10px 10px 15px;
    color: #544e4e;
	text-decoration:none;
}
.agentsListContainer li span  {
    display: none;
    position: absolute;
    right: 6px;
    top: 11px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /* background: #19a2a2; */
    color: rgba(244, 244, 244, 0.65);
    text-align: center;
	cursor:pointer;
}
.agentsListContainer li.active span{display:block;}
.agentsListContainer li span.editUser {
    right: 27px;
}
.agentsListContainer li span.deleteUser{}
.agentsListContainer li span i {
    position: relative;
    top: -2px;
    font-size: 12px;
}
.agentsListContainer li a:hover,.agentsListContainer li.active a{
	background:#21c0c0;
	color:#fff;
	    border-radius: 0;
	}
.agentsListContainer li span:hover,.agentsListContainer li span.active{
	color: rgba(244, 244, 244, 1);
}
	label {
    font-size: 16px;
}
.fs-dropdown {
    width: 100% !important;
    margin-top: 0 !important;
	
    position: absolute;

    left: 0;
    z-index: 1000;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-clip: padding-box;

}
.fs-label-wrap .fs-label {
    border: 1px solid #c5c5c5 !important;
}
.panel.createFeedContainer{
    border: 1px solid #ccc !important;
}
.createFeedContainer .fs-search {
    padding: 12px ;
	    border: none;
}
.createFeedContainer .fs-search input {
    border: 1px solid #ddd !important;
    box-shadow: none !important;
    outline: none !important;
    padding: 8px 10px !important;
    width: 100% !important;
    display: block !important;
    border-radius: 20px !important;
}
.createFeedContainer .fs-wrap.multiple .fs-option {
    position: relative;
    padding: 10px 0 10px 30px;
}
.panel.createFeedContainer {
	border: 1px solid #ccc !important;
}
.createFeedContainer .fs-search {
	padding: 12px;
	border: none;
}
.createFeedContainer .fs-search input {
	border: 1px solid #ddd !important;
	box-shadow: none !important;
	outline: none !important;
	padding: 8px 10px !important;
	width: 100% !important;
	display: block !important;
	border-radius: 20px !important;
}
.createFeedContainer .fs-wrap.multiple .fs-option {
	position: relative;
	padding: 10px 0 10px 30px;
}
.inviteLoggersContainer .nav-tabs>li>a {
	color: #515253;
	background-color: transparent;
	margin: 0;
	border-radius: 0;
	padding: 10px 20px;
	border: 1px solid #fff;
}
.inviteLoggersContainer .panel-body {
	padding: 25px;
}
.inviteLoggersContainer .panel-body .panel-body {
	padding: 0;
}
.inviteLoggersContainer .tab-content {
	padding: 0;
	border: none;
}
.inviteLoggersContainer .nav-tabs {
	border-bottom: none;
	margin-bottom: 25px;
}
.inviteLoggersContainer .nav-tabs>li.active>a, .inviteLoggersContainer .nav-tabs>li.active>a:focus, .inviteLoggersContainer .nav-tabs>li.active>a:hover {
	color: #1cb1b1;
	background-color: #fff;
	border-bottom: 3px solid #2ebdbe !important;
	cursor: default;
}
.inviteLoggersContainer .feedBtn {
	margin: 12px 25px 0 0;
}
.inviteLoggersContainer .table-grid {
	border-radius: 0;
	border: none;
}
.inviteLoggersContainer .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	border: none;
	line-height: 33px !important;
}
.inviteLoggersContainer .paging-nav, #chat {
	border-top: 0px solid #ccc;
}


@media only screen and (min-width: 768px){}
.wrapper>.aside .aside-inner {
    padding-top: 0;
}
.wrapper>footer, .wrapper>section {
    margin-left: 0;
}



}




