@media (min-width:320px) and (max-width:768px) {
	.wrapper>.aside,.wrapper>.aside .container {
    padding: 0;
}
	.navbar-toggle {
    z-index: 10000;
	    position: absolute;
    right: 0;
}
	
.sidebar,.sidebar > .nav,.sidebar>.nav>li {
    display: block;
}
.navbar-collapse{padding:0;}
.dashboardContentContainer{
	margin-top:60px !important;
	}
	.globalSearch {
    width: 147px;
	}
	.responsiveTitle{
    position: absolute;
    top: 65px;
}
.responsiveTitle h1{
    color: #1cb1b1;
}
.dashboardContent {
    margin-bottom: 65px;
}
.text-uppercase.welcom {
    font-size: 29px;
    margin-bottom: 35px;
}
#dashboard .col-md-4{ text-align:center;}
.agent-dash .resolved,.agent-dash .unresolved {
    margin-left: 0;
    display: inline-block;
}
.content-wrapper {
    padding: 0;
}
.createFeedContainer .panel-body {
    padding: 2px 19px 20px;
}
.feedBtn .box, .feedBtn a {
    float: none;
}
	}
	