@media (min-width:320px) and (max-width:1300px) {
	.qb-login-form-contianer {
    text-align: center;
    padding-top: 0;
}
		.qb-display-image{
    position:inherit;
	left:0;
	margin-top:75px;
}
	.qb-display-image img,.qb-img-promotion img{
    max-width:100%;
}
.qb-login-container {
    margin-top: 0;
}
.qb-login-form-content {
    margin: 30px 0 0;
}
.qb-promotion-container{height:auto; text-align:center;}
.qb-promotion-caption {
    margin-top: 0;
	
}
	
	}
	@media (min-width:1200px) and (max-width:1400px) {
		.qb-display-image img,.qb-img-promotion img{
    max-width:110%;
}
		
	}