
Editing:  
/home/gdane1/public_html/queryback/web/css/qb_style.css
 Encoding:    Re-open Use Code Editor     Close  Save Changes

@charset "UTF-8";
/* CSS Document */
body {
	margin: 0;
	padding: 0;
	background: #fff url(../../images/front/qb_abstract.png) no-repeat left top fixed;
	background-size: cover;
}
***** Fonts *****/

@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI-BoldItalic.eot');
	src: url('../fonts/SegoeUI-BoldItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/SegoeUI-BoldItalic.woff') format('woff'),  url('../fonts/SegoeUI-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUIBlack-Italic.eot');
	src: url('../fonts/SegoeUIBlack-Italic.eot?#iefix') format('embedded-opentype'),  url('../fonts/SegoeUIBlack-Italic.woff') format('woff'),  url('../fonts/SegoeUIBlack-Italic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}
@font-face {
	font-family: 'Segoe UI Emoji';
	src: url('../fonts/SegoeUIEmoji.eot');
	src: url('../fonts/SegoeUIEmoji.eot?#iefix') format('embedded-opentype'),  url('../fonts/SegoeUIEmoji.woff') format('woff'),  url('../fonts/SegoeUIEmoji.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI-Light.eot');
	src: url('../fonts/SegoeUI-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/SegoeUI-Light.woff') format('woff'),  url('../fonts/SegoeUI-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI-Italic.eot');
	src: url('../fonts/SegoeUI-Italic.eot?#iefix') format('embedded-opentype'),  url('../fonts/SegoeUI-Italic.woff') format('woff'),  url('../fonts/SegoeUI-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI-SemiboldItalic.eot');
	src: url('../fonts/SegoeUI-SemiboldItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/SegoeUI-SemiboldItalic.woff') format('woff'),  url('../fonts/SegoeUI-SemiboldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI-LightItalic.eot');
	src: url('../fonts/SegoeUI-LightItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/SegoeUI-LightItalic.woff') format('woff'),  url('../fonts/SegoeUI-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUIBlack.eot');
	src: url('../fonts/SegoeUIBlack.eot?#iefix') format('embedded-opentype'),  url('../fonts/SegoeUIBlack.woff') format('woff'),  url('../fonts/SegoeUIBlack.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Segoe UI Semilight';
	src: url('../fonts/SegoeUI-Semilight.eot');
	src: url('../fonts/SegoeUI-Semilight.eot?#iefix') format('embedded-opentype'),  url('../fonts/SegoeUI-Semilight.woff') format('woff'),  url('../fonts/SegoeUI-Semilight.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Segoe UI Semilight';
	src: url('../fonts/SegoeUI-SemilightItalic.eot');
	src: url('../fonts/SegoeUI-SemilightItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/SegoeUI-SemilightItalic.woff') format('woff'),  url('../fonts/SegoeUI-SemilightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI.eot');
	src: url('../fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),  url('../fonts/SegoeUI.woff') format('woff'),  url('../fonts/SegoeUI.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI-Semibold.eot');
	src: url('../fonts/SegoeUI-Semibold.eot?#iefix') format('embedded-opentype'),  url('../fonts/SegoeUI-Semibold.woff') format('woff'),  url('../fonts/SegoeUI-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI-Bold.eot');
	src: url('../fonts/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/SegoeUI-Bold.woff') format('woff'),  url('../fonts/SegoeUI-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
.qbNavBar {
	background: transparent;
	border: none;
}
.qbNavBar .navbar-nav>li>a {
	color: #29bdbd;
}
.top-header {
	background: transparent;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border-bottom: 1px solid transparent;
	padding: 0;
	position: relative;
	width: 100%;
	top: 34px;
	z-index: 10000;
	height: 84px;
}
.top-header.active {
	top: 0;
	position: fixed;
	width: 100%;
	background: #fff;
	border-bottom: 1px solid #ccc;
	padding: 15px 0;
}
.header-logo {
	height: 1px;
	overflow: hidden;
}
.header-logo.active {
	visibility: visible;
	height: auto;
}
.header-logo img {
	width: 100px;
	display:none;
}
.modal {
    z-index: 20000;
}
/***** Header *****/
.qb-login-container {
    background:#FFF url(../../images/front/bg_qb_web.png) no-repeat 0 0 fixed;
}
.featuresContainer{background:#FFF;}
.featuresContainerLI{background:#FFF url(../../images/front/bg_features.png) no-repeat  0 0 fixed;background-size: 100%;}
.featuresContainerLI2{background:#FFF url(../../images/front/bg_feat1.png) no-repeat  0 0 fixed;background-size: 100%;}
.featuresContainerLI3{background:#FFF url(../../images/front/bg_feat2.png) no-repeat  0 0 fixed;background-size: 100%;}
.featuresContainerLI2 .featuresContentBlock,.featuresContainerLI3 .featuresContentBlock {
    width: 439px;
    position: absolute;
    bottom: 53px;
    right: 26px;
    /* background: rgba(46,189,190,0.8); */
    border-radius: 5px;
    /* border: 1px solid #4ccccd; */
    top: auto;
    left: auto;
}
.featuresContainerLI2 .featuresContentView p,.featuresContainerLI3 .featuresContentView p{ color: #ffffff;}
.featuresContainerLI2 .featuresContentView p span,.featuresContainerLI3 .featuresContentView p span {
    color: #ffffff;
    font-weight: 400;
}
.contactUsContainer{background:#FFF url(../../images/front/bg_contactUs.png) no-repeat  0 0 fixed;}
.bgSection {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    margin: 0;
    background-size: 100%;
}

.qb-login-form-contianer {
    text-align: center;
    background: rgba(255,255,255,0.3);
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 40px;
    position: absolute;
    width: 445px;
    right: 100px;
    top: 100px;
}
input:-webkit-autofill{    background-color: #fff !important;}
.qb-login-logo {
}
.qb-login-form-content {
	margin: 0 0 0;
}
.qb-tab-nav {
}
.qb-tab-nav ul {
	list-style: none;
	padding: 0;
	margin-bottom: 25px;
}
.qb-tab-nav ul li {
	display: inline-block;
	margin: 0 10px;
}
.qb-tab-nav ul li a {
	font-size: 16px;
	text-transform: uppercase;
	color: #999;
	text-decoration: none;
}
.qb-tab-nav ul li.active a {
	color: #18bdbe;
	text-decoration: underline;
}
.qb-tab-nav ul li.active {
}
.qb-form {
	display: none;
}
.qb-form.active {
	display: block;
}
.qb-form .btn {
	display: block;
	width: 100%;
	color: #fff;
	background: #18bdbe;
	font-size: 16px;
}
.qb-form .form-control {
	height: 40px;
}
.qb-display-image {
	position: absolute;
	left: -75px;
}
.qb-play-storer {
	margin: 10px 0 0;
	font-size: 12px;
}
.qb-play-storer a {
	color: #18bdbe;
}
.qb-promotion-container {
	background-color: #29bdbd;
	height: 550px;
	margin-top: 200px;
	margin-bottom: 50px;
}
.qb-promotion-caption {
	margin-top: 180px;
}
.qb-promotion-caption p {
	color: #fff;
	font-size: 24px;
	text-align: left;
	font-style: italic;
}
.qb-promotion-caption a {
}

.loginFooterContainer {
    position: fixed;
    width: 100%;
    height: 190px;
    left: 0;
    bottom: 20px;
}
.loginFooterContent{position: absolute;}
.loginLeftContnet {
    position: absolute;
    left: 0;
    width: 79%;
    height: 189px;
    background: rgba(18,155,156,0.8);
}
.loginLeftContnet P{
font-family: 'Segoe UI';
    color: #fff;
    padding: 44px 170px 35px 50px;
    font-size: 20px;
    margin: 0;
        font-weight: 100;
}
.contactUsContainer .loginLeftContnet p span{
    display: block;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 8px;
}
.loginLeftContnet:after{
    content: "";
    background: url(../images/bg_green_content.png) no-repeat;
    width: 151px;
    height: 189px;
    position: absolute;
    right: -151px;
    top: 0;
}
.loginRightContnet {
    right: 0;
    width: 23%;
    height: 142px;
    background: rgba(255,255,255,1);
    z-index: 5;
    position: absolute;
    top: 24px;
    text-align: center;
    padding-right: 45px;
}
.loginRightContnet:after {
    content: "";
    background: url(../../images/front/bg_white_content.png) no-repeat;
    width: 198px;
    height: 142px;
    position: absolute;
    left: -198px;
    top: 0;
}
.loginRightContnet a {
    display: inline-block;
    margin-top: 16px;
}
.loginRightContnet a img{
    width: 150px;
}
.loginRightContnet p{

    font-size: 11px;
    padding: 13px 0 0;
}
.loginRightContnet p span {
    padding: 0 10px;
    color: #2ebdbe;
border-right: 1px solid #2ebdbe;
}
.loginRightContnet p span:last-child{border:none;}
#pp-nav{display:none;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #555;
    background-color: transparent;
}

/***** Features *****/
.featuresContentBlock {
    width: 439px;
    position: absolute;
    top: 200px;
    left: 300px;
}
.featuresContentView{
	}
.featuresContentView p  {
    color: #708497;
    margin: 0;
    font-size: 32px;
    font-weight: 100;
}
.featuresContentView p span{
    color: #21c1c0;
	    font-weight: 400;
}
.featuresContentView a{
    background: #708497;
    float: right;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
	margin-top: 30px;
	display:none;
}
.featuresContentView a:hover{background: #21c1c0; text-decoration:none;}
.qbFeatureContent {
    position: absolute;
    bottom: 22px;
    right: 86px;
    width: 410px;
    text-align: center;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}
.qbFeatureContent span {
    padding: 0 29px;
}
.dss{font-size:30px; color:#ccc;}
#videobackground{}video#videobg {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('images/poster.jpg') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}